<!--
 * Title: about.component.html
 * Authors: Professor Richard Krasso and Brock Hemsouvanh
 * Date Created: 05/10/2024
 * Modified: 5/19/2024
 * Description: About page for providing information about the Loan App.
-->

<div fxLayout="row wrap" fxLayoutGap="20px" class="home-container">
  <div fxFlex="75" class="loan-form">
    <mat-card class="about-card">
      <mat-card-title style="color: var(--ravenclaw-secondary); font-weight: bold; text-align: center;">About The Loan App Team</mat-card-title>
      <mat-card-content>
        <br /><br />
        <p>
          Loan App was created by a team of passionate financial experts who wanted to provide
          an easy and accurate way to help people manage their loans. We believe everyone
          deserves the best financial advice and tools to help make informed decisions about their
          financial future.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
